/* Basic Styling Start  */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f38c3d;
    --secondary-color: white;
    --tertiary-color: #78d2f0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik' ,sans-serif;
}

body {
    color: var(--secondary-color);
    font-family: 'Karla' ,sans-serif ;
    background-color: var(--primary-color);
}

/* Basic Styling End */ 

/* Header & Footer Styling Start */ 

header {
    padding: 25px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 600;
}

header h1 {
    background: var(--tertiary-color);
    border-radius: 20px;
}

header h1, footer h1 {
    font-weight: bolder;
    font-size: 35px;
    margin: 0 0 0 30px;
    padding: 5px 13px 5px 0px;
}

header a, footer a {
    text-decoration: none;
    color: var(--secondary-color)
}

header nav, footer nav {
    margin: 10px 0;
}

header nav ul, footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
}

header nav ul li a, footer nav ul li a {
    padding: 15px 20px;
    font-weight: bold;
    font-size: 1.55vw;
    color: var(--secondary-color);
    text-shadow: -5px -5px 20px rgba(243,140,61, 1);
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    text-shadow: none;
    color: var(--secondary-color);
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: var(--tertiary-color);
    padding: 20px 0;
}

footer nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 20px;
    text-shadow: none;


}

section {
    padding: 80px;
}


/*Banner Styling*/

.banner {
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    justify-content: -webkit-flex-end;
    flex-wrap: wrap;
    align-items: center;
    background-attachment: fixed;
    background-position: 80%;
    height: auto;
    
}

.banner-text h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
    background-color: var(--tertiary-color);
    border-radius: 20px;
    padding: 8px;
    justify-content: flex-end;
    float: right;
    margin: 0;
    font-size: 25px;
    align-items: flex-end;
    align-content: flex-end;
    
}

/* Body Styling Start */

.flexed-right {
    display: flex;
}

.section-title {
    font-size: 45px;
    color: var(--tertiary-color);
    writing-mode: sideways-lr;
    transform: rotate(-90deg);
    text-align: center;
    /* padding-bottom: 10px;
    margin: 10px 0 30px 0; */
    /* width: 15%; */
    border-bottom: 3px solid;
    /* justify-content: center; */
    /* flex: 1 30%; */
    height: auto;
}

.primary-border {
    border-color: var(--secondary-color);
}

/*About*/

.about {
    margin: 40px auto;
    display: flex;
    width: 100%;
}

.about h2 {
    align-content: flex-start;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    padding-bottom: 20px;
    margin: 30px auto;
    background-color: var(--tertiary-color);
    padding: 10px;
}



.bio-img {
    align-items: center;
    max-width: 100%;
    min-height: 200px;
    flex: 1 10%;
    position: relative;
    background-position: left;
    background-size: cover;
    background-image: url(../images/hs-s.jpg);
}


.bio-text {
    flex: 12;
    text-align: justify;
    width: 30%;
    font-size: 25px;
}


/* About Styling End */

/*Development Work Styling Start */


.work {
    margin: 40px auto;
    display: flex;
    width: 100%;
}

.work h2 {
    align-content: flex-start;
}

.work-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    padding-bottom: 20px;
    margin: 30px auto;
    background-color: var(--tertiary-color);
    padding: 10px;
}

